@model DCOClearinghouse.ViewModels.CategoryUpdateViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<h2>Rename Category</h2>

<h4>@@@Model.CategoryToUpdate.CategoryName</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategory" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Category Name</label>
                <input asp-for="CategoryToUpdate.CategoryName" class="form-control"/>
                <span asp-validation-for="CategoryToUpdate.CategoryName" class="text-danger"></span>
            </div>
            @if(@Model.CategoryToUpdate.Depth>0){
                <div class="form-group">
                <label class="control-lable" asp-for="CategoryToUpdate.ParentCategoryID"></label>
                <select asp-for="CategoryToUpdate.ParentCategoryID"
                        asp-items="@(new SelectList(Model.ParentCategories, "ID", "CategoryName"))"
                        size="15"
                        class="form-control">
                </select>
                </div>
            }

            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a onclick="history.go(-1)" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
