@model DCOClearinghouse.ViewModels.AdminEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Resource</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Resource.ID" />
            <div class="form-group">
                <label asp-for="Resource.Subject" class="control-label"></label>
                <input asp-for="Resource.Subject" class="form-control" />
                <span asp-validation-for="Resource.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.Description" class="control-label"></label>
                <textarea asp-for="Resource.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Resource.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.Link" class="control-label"></label>
                <input asp-for="Resource.Link" class="form-control" />
                <span asp-validation-for="Resource.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.CategoryID" class="control-label">Category</label>
                <select asp-for="Resource.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="Resource.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.BadlinkVotes" class="control-label"></label>
                <input asp-for="Resource.BadlinkVotes" class="form-control" />
                <span asp-validation-for="Resource.BadlinkVotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource.Status" class="control-label"></label>
                <select asp-for="Resource.Status" asp-items="Html.GetEnumSelectList<ResourceStatus>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Resource.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Tags", "Tags")
                <textarea class="form-control" placeholder="use comma(,) to separate tags. e.g. San Francisco, Healthcare, Tag1" asp-for="Tags"></textarea>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a onclick="history.go(-1)" class="btn btn-primary">Cancel</a>

                    <a asp-action="Delete" asp-route-id="@Model.Resource.ID" class="btn btn-danger">Delete</a>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
