@{
    ViewData["Title"] = "Admin Console";
}

<div class="jumbotron">
    <h1>Admin Console</h1>
</div>

<h3>Quick tasks</h3>

<ul>
    <li>
        @Html.ActionLink("Create a new resource", "Create", "Resources")
    </li>
    <li>
        <a asp-action="">Review uncategorized resource (under construction)</a>
    </li>
    <li>
        @Html.ActionLink("See category tree", "BrowseByCategory")
    </li>
</ul>
