@model ResourceCategory

<div style="padding-left: 50px">
    <strong>┕@Model.CategoryName (@Model.Resources.Count)</strong>
    @foreach (var subcategory in Model.ChildrenCategories)
    {
        await Html.RenderPartialAsync("_TreeNodePartial", subcategory);
    }
</div>

