@model ResourceCategory

@{
    Layout="_ResourcesLayout";
}

@if (Model.Depth == 0)
{
    <ol>
        @foreach (var subcat in Model.ChildrenCategories)
        {
            <li>
                <a asp-action="Category" asp-route-id="@subcat.ID">@Html.DisplayFor(m=>subcat.CategoryName)</a>
            </li>
        }
    </ol>
}
else
{

if (Model.Resources.Count == 0)
 {
     <p>None</p>
 }
 else
 {
     <div class="container">
         @await Component.InvokeAsync("ResourceTable", new {pageNumber = ViewData["pageNumber"], categoryID = Model.ID})
     </div>
 }
}



