<!DOCTYPE html>

<html>
<head>
    <title>The resource you suggest has been submitted successfully.</title>
</head>
<body>
<div>
    <h3>The resource you suggest has been submitted successfully.</h3>
</div>
<div>
    Redirect to <a asp-action="Index">Resouces index page</a>
</div>
</body>
</html>