@model IDictionary<string,IList<DCOClearinghouse.Models.Resource>>

@{
    ViewData["Title"] = "Resources";
}

<div class="jumbotron">
    <h2>Resources</h2>
</div>

<p>
    <a asp-action="Create">Add New</a>
</p>

<div class="row">
@foreach(var category in Model){
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">@category.Key</div>
      <div class="panel-body">
          @foreach(var resource in @category.Value){
              <a>@resource.Subject</a>
          }
      </div>
    </div>
  </div>
}
</div>


