     @model Tag
     @{
         Layout = "_ResourcesLayout";
     }

<div class="well">
    <h3>#@Html.DisplayFor(model=>model.Name)</h3>
</div>

@if(Model.ResourceTags.Count()==0)

     <div class="container">
         @await Component.InvokeAsync("ResourceTable", new {pageNumber = ViewData["pageNumber"], tagID = Model.ID})
     </div>