@model System.Collections.Generic.List<DCOClearinghouse.Models.Tag>

@{
    Layout = "_ResourcesLayout";
}

@section Scripts{
    <script src="~/js/tagcloud.js"></script>
    <script type="text/javascript">
        $(document).ready((function() {
            $.fn.tagcloud.defaults = {
                size: { start: 10, end: 35, unit: 'pt' },
                color: { start: '#cde', end: '#f52' }
            };

            $('#tags a').tagcloud();
        }));

    </script>
}

<div class="container container-fluid">
    <div id="tags">
        @foreach (var tag in Model)
        {
        <a asp-action="Tag" asp-route-id="@tag.ID" rel="@tag.ResourceTags.Count">
            @tag.Name (@tag.ResourceTags.Count(t => t.Resource.Status == ResourceStatus.New))
        </a><span>&nbsp;</span>
        }
    </div>
</div>
