@model DCOClearinghouse.ViewModels.LogInViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
<p>Login using the form below</p>
<form asp-action="LogIn"></form>
</body>
</html>