@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<span class="glyphicon glyphicon-phone-alt"></span>
<strong>
        By phone:
</strong>
<address>
    (415) 508-6130<br>
</address>

<span class="glyphicon glyphicon-envelope"></span>
<strong>
    Send an e-mail to:
</strong>
<address>
    <a href="mailto:admin@disabledcommunity.org">admin@disabledcommunity.org</a>
</address>

<span class="glyphicon glyphicon-pencil"></span>
<strong>
    Send your letter to:
</strong>

<address>
    DisabledCommunity.Org<br/>
    275 Fifth Street, Suite 419<br/>
    San Francisco, CA 94103<br/>
</address>